[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
fastapi = "*"
pandas = "*"
pyyaml = "*"
python-dotenv = "*"
requests = "*"
certifi = "*"
aiohttp = "*"
aiostream = "*"
pandarallel = "*"
loguru = "*"
langdetect = "*"
ctranslate2 = "==2.24.0"
deep-translator = "*"
googletrans = "==4.0.0-rc1"
translate = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
allure-pytest = "*"
pytest-xdist = "*"
pytest-sugar = "*"
loguru = "*"

[requires]
python_version = "3.11"

[scripts]
