[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
fastapi = "*"
pandas = "*"
pyyaml = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-material = "*"
allure-pytest = "*"
pytest-xdist = "*"
pytest-sugar = "*"
loguru = "*"

[requires]
python_version = "3.9"
